sphinx==7.4.7
sphinx_rtd_theme==3.0.0
sphinx-toolbox==3.8.0
sphinx_design==0.6.1
sphinx-intl==2.2.0
nbsphinx==0.9.5
sphinx-copybutton==0.5.2
ipython>=8.18.1
jupyterlab==4.2.5
numpy>=1.23.5
scipy>=1.13.1
pandas>=2.2.3
requests>=2.32.3
opensmile>=2.5.0
librosa>=0.10.2.post1
audioread>=3.0.1
scikit-learn>=1.5.2
opencv-contrib-python>=4.10.0.84
mediapipe>=0.10.14
pytest>=8.3.3
liwc>=0.5.0
transformers >= 4.45.1
sentencepiece >= 0.2.0
torch >= 2.2.2
torchaudio >= 2.2.2
torchvision >= 0.17.2
oceanai>=1.0.0a42
sacremoses>=0.1.1
gradio==4.44.1